<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.potens.ptchat">

    <application>
        <activity
            android:name=".activity.ChatWindowActivity"
            android:theme="@style/IndexTheme"
            android:windowSoftInputMode="adjustResize" />

    </application>
</manifest>
